# build directories
build
*/build
Build
*/Build
bin
*/bin
Bin
*/Bin
debug
*/debug
Debug
*/Debug
release
*/release
Release
*/Release


#C++ Date
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#copies
*~
*#*#
.#*

#CLion
.idea
*/.idea

